.container{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    height: 100%;
    width: 100%;
    gap: 10px;
    align-items: center;
}
.child{
    background-color: rgb(138, 113, 161);
    width: 95%;
}
.lst{
    text-align: center;
    height: 60vh;
    overflow-y: scroll;
    width: 95%;
}
.lst thead tr th{
    color: bisque;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}
.first{
    height: 10vh;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    gap: 35vw;
    justify-content: flex-end;
    align-items: center;
}
.new{
    color: blueviolet;
    background-color: bisque;
    border: none;
    margin-right: 10px;
    height:25px;
    width: 8%;
    font-weight: bold;
}
.second{
    height: 75vh;
    display: flex;
}

.heading{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;

}

